{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ category.name }}</h1>

    <div class="row">
       {# {% for product in category.products %} #}

        {# подключаем #}
        {{ include('fragments/productsList.html.twig', {'products': category.products}) }}
    </div>

{% endblock %}

{% block title %}
    {{ category.name }}
{% endblock %}

