{% extends 'base.html.twig' %}

{% block body %}
    <h1>Товари</h1>

    {# цикл чтоб ходить по "товарам" #}
    {% for product in products %}
        <p>
            <a href="{{ path('product', {'id': product.id}) }}"> {{ product.name }}</a>
            - {{ product.price / 100 }}
        </p>
    {% endfor %}

{% endblock %}
