{% extends 'base.html.twig' %}

{% block body %}
    <h1>Товари</h1>

    {# добавляем карти для товаров#}
    <div class="row">

        {# украли цикл в фргменты #}
        {# подключаем #}
        {{ include('fragments/productsList.html.twig', {'products': products}) }}

    </div>
{% endblock %}
